{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    {{ parent() }}

{% endblock %}


{% block body %}
    <h1>Dodawanie nowego kandydata</h1>
    <h3>Uzupełnij poniższe pola, a następnie naciśnij "Zapisz"</h3>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}


            <div class="form-group">
            {{ form_row(form.firstName, {'attr' : {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
            {{ form_row(form.lastName, {'attr' : {'class': 'form-control'}}) }}
            </div>
            <div class="row">
                <div class="col-md-11">
                    {{ form_label(form.yearsOfExperience) }}
                </div>
                <div class="col-md-1">
                    {{ form_widget(form.yearsOfExperience, {'attr' : {'class': 'form-control', 'disabled': false}}) }}
                </div>
            </div>

            <br/>
            <div id="slider-exp"></div>
            <br/>

            <div class="form-group">
                {{ form_row(form.city, {'attr' : {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.country, {'attr' : {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_label(form.availability) }}
                        {{ form_errors(form.availability) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% for i in 0..form.availability|length-1 %}
                            {{ form_label(form.availability[i]) }}
                            {{ form_widget(form.availability[i]) }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group">
            {{ form_row(form.profession, {'attr' : {'class': 'form-control'}}) }}
            </div>

            <input type="submit" value="Zapisz" class="btn btn-success" />
            <a href="{{ listUrl }}" class="btn btn-danger">Przejdź do listy bez zapisywania</a>

            {{ form_end(form) }}



        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $( function() {
            $( "#slider-exp" ).slider({
                range: "max",
                min: 0,
                max: 20,
                value: 10,
                slide: function( event, ui ) {
                    $( "#candidate_yearsOfExperience" ).val( ui.value );
                }
            });
            $( "#candidate_yearsOfExperience" ).val( $( "#slider-exp" ).slider( "value" ) );
        } );
    </script>
{% endblock %}

