{% extends 'base.html.twig' %}

{% block body %}

    <h2>Lista kandydatów</h2>

    <ul class="list-group">
        {% for candidate in candidates %}
            <li class="list-group-item clearfix">
                {{ candidate.firstName }} {{ candidate.lastName }}
                <a href="{{ candidate.url }}" class="btn btn-primary pull-right">Szczegóły</a>
            </li>
        {% endfor %}
            <li class="list-group-item">
                <a href="{{ addUrl }}" class="btn btn-success">Dodaj kandydata</a>
            </li>
    </ul>

{% endblock %}