{% extends 'base.html.twig' %}

{% block body %}

    <h2>Widok kandydata</h2>

    <ul class="list-group row">
        <li class="list-group-item col-xs-12">
            Kandydat: {{ candidate.firstName }} {{ candidate.lastName }} (ID:{{ candidate.id }})
        </li>
        <li class="list-group-item col-md-4 col-xs-12">
            Imię
        </li>
        <li class="list-group-item col-md-8 col-xs-12">
            {{ candidate.firstName }}
        </li>

        <li class="list-group-item col-md-4 col-xs-12">
            Nazwisko
        </li>
        <li class="list-group-item col-md-8 col-xs-12">
            {{ candidate.lastName }}
        </li>

        <li class="list-group-item col-md-4 col-xs-12">
            Doświadczenie w latach
        </li>
        <li class="list-group-item col-md-8 col-xs-12">
            {{ candidate.yearsOfExperience }}
        </li>

        <li class="list-group-item col-md-4 col-xs-12">
            Miasto
        </li>
        <li class="list-group-item col-md-8 col-xs-12">
            {{ candidate.City }}
        </li>

        <li class="list-group-item col-md-4 col-xs-12">
            Kraj
        </li>
        <li class="list-group-item col-md-8 col-xs-12">
            {{ candidate.countryName }}
        </li>

        <li class="list-group-item col-md-4 col-xs-12">
            Dyspozycyjność
        </li>
        <li class="list-group-item col-md-8 col-xs-12">
            {% for availability in candidate.availability %}
                {{ availability }},
            {% endfor %}
        </li>

        <li class="list-group-item col-md-4 col-xs-12">
            Profesja
        </li>
        <li class="list-group-item col-md-8 col-xs-12">
            {{ candidate.profession }}
        </li>
        <li class="list-group-item col-xs-12">
            <a href="{{ listUrl }}" class="btn btn-default">Przejdź do listy</a>
        </li>
    </ul>

{% endblock %}